@charset "UTF-8";
/*====================================================
#colors
====================================================*/
/*====================================================
#commonー共通するスタイル
====================================================*/
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

/* header
------------------------------------------------------------*/
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .drawer-hamburger-icon {
  background-color: #3EA1D1;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #3EA1D1;
}

.header-inner {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-logo {
  width: 120px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
}

.header-nav-item + .header-nav-item {
  margin-left: 46px;
}

.header-nav-item-link {
  display: block;
  color: #333;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.1em;
  transition: color .4s;
}

.header-nav-item-link:hover {
  color: #3EA1D1;
}

/*===========================================================
#common
===========================================================*/
/* main
------------------------------------------------------------*/
.main {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.section {
  margin-top: 147px;
}

@media (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

.util-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.util-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background: #3EA1D1;
  margin: 16px auto 0;
}

@media (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: solid 1px #3EA1D1;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  transition: background-color .4s, color .4;
}

.util-link:active {
  color: #fff;
  background: #3EA1D1;
}

@media (min-width: 1200px) {
  .util-link:not(.-submit):hover {
    color: #fff;
    background: #3EA1D1;
  }
}

/* top
------------------------------------------------------------*/
.top {
  position: relative;
}

@media (max-width: 767px) {
  .top__picture {
    padding-top: 120%;
    background: url(../img/top.png) center center/cover;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top__picture {
    padding-top: 80%;
    background: url(../img/top.png) center center/cover;
  }
}

@media (min-width: 1200px) {
  .top__picture {
    padding-top: 56.25%;
    background: url(../img/top.png) top right/82.5% no-repeat;
  }
}

@media (min-width: 1200px) {
  .top__message {
    position: absolute;
    left: 0;
    top: 49%;
    transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top__message {
    position: absolute;
    left: 0;
    top: 49%;
    transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

@media (max-width: 767px) {
  .top__message {
    padding-top: 40px;
  }
}

.top__message__title {
  font-size: 26px;
  font-weight: 700;
}

.top__message__text {
  margin-top: 18px;
}

/* concept
------------------------------------------------------------*/
.concept__inner {
  margin-top: 64px;
}

@media (min-width: 1200px) {
  .concept__inner {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept__inner {
    display: flex;
    align-items: center;
  }
}

.concept__picture {
  width: 53.5%;
}

@media (max-width: 767px) {
  .concept__picture {
    width: 100%;
  }
}

.concept__message {
  width: 46.5%;
  margin-left: 6.667%;
}

@media (max-width: 767px) {
  .concept__message {
    width: 100%;
    margin-left: 0;
  }
}

.concept__message-title {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .concept__message-title {
    padding-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept__message-title {
    font-size: 18px;
  }
}

.concept__message-text {
  margin-top: 36px;
}

@media (max-width: 767px) {
  .concept__message-text {
    margin-top: 43px;
  }
}

/* feature
------------------------------------------------------------*/
.feature {
  margin-top: 156px;
  max-width: 1200px;
}

@media (max-width: 767px) {
  .feature {
    max-width: 340px;
  }
}

.feature__list {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

@media (max-width: 767px) {
  .feature__list {
    display: block;
    padding-top: 48px;
  }
}

.feature__item {
  flex: 0 0 28.3333;
}

@media (max-width: 767px) {
  .feature__item {
    padding-bottom: 48px;
    max-width: 340px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .feature__item {
    padding-right: 10px;
  }
}

.feature-item-link {
  display: block;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

.feature-item-link:hover .feature-item-picture > img {
  transform: scale(1.05);
}

.feature-item-picture {
  overflow: hidden;
}

.feature-item-picture > img {
  transition: transform .4s;
}

.feature-item-body {
  padding: 28px 90px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 767px) {
  .feature-item-body {
    padding: 28px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .feature-item-body {
    padding: 28px 10px;
  }
}

/* about
------------------------------------------------------------*/
.about {
  color: #fff;
  background: url(../img/bg.png) no-repeat center center/cover;
  position: relative;
  padding: 120px 0;
  margin-top: 157px;
}

@media (max-width: 767px) {
  .about {
    background: url(../img/bg@2x.png) no-repeat center center/cover;
    padding: 176px 0 52px;
  }
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.about__inner {
  position: relative;
}

.about__title {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .about__title {
    font-size: 20px;
  }
}

.about__text {
  font-size: 16px;
  padding-top: 26px;
}

@media (max-width: 767px) {
  .about__text {
    font-size: 14px;
    margin-top: 22px;
  }
}

/* pictures
------------------------------------------------------------*/
.products {
  margin-top: 162px;
}

.products {
  max-width: 960px;
}

@media (max-width: 767px) {
  .products {
    max-width: 340px;
  }
}

.products__list {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .products__list {
    display: block;
  }
}

.products__item {
  flex: 0 0 27.6%;
}

@media (max-width: 767px) {
  .products__item {
    width: 100%;
    padding-bottom: 40px;
  }
}

.products__item-link {
  display: block;
  color: #333;
  font-size: 14px;
}

.products__item-link:hover .products__picture > img {
  transform: scale(1.05);
}

.products__picture {
  overflow: hidden;
}

.products__picture > img {
  transition: transform .4s;
}

.products__item-body {
  margin-top: 22px;
}

.products__item-cost {
  color: #989898;
  margin-top: 10px;
}

.products-footer {
  text-align: center;
  margin-top: 44px;
}

/* news
------------------------------------------------------------*/
.news {
  max-width: 1040px;
  margin-top: 153px;
}

@media (max-width: 767px) {
  .news {
    padding: 0 32px;
  }
}

.news__list {
  padding-top: 36px;
}

@media (max-width: 767px) {
  .news__list {
    padding-top: 40px;
  }
}

.news-item {
  border-bottom: solid 1px #e0e0e0;
}

.news-item-link {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
  padding: 22px 0;
}

.news-item-link:hover .news-item__picture > img {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .news-item-link {
    display: block;
    padding-bottom: 24px;
  }
}

.news-item__header {
  flex: 0 0 260px;
}

@media (max-width: 767px) {
  .news-item__header {
    width: 100%;
  }
}

.news-item__picture {
  overflow: hidden;
}

.news-item__picture > img {
  transition: transform .4s;
}

.news-item__body {
  flex: 0 1 100%;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .news-item__body {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
}

.news-item__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .news-item__title {
    font-size: 16px;
  }
}

.news-item__text {
  color: #888;
  margin-top: 16px;
  line-height: 1.7143;
}

.news-footer {
  text-align: center;
  margin-top: 50px;
}

/* concept2
------------------------------------------------------------*/
.concept2 {
  margin-top: 156px;
}

@media (min-width: 1200px) {
  .concept2__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.concept2__picture {
  width: 54.5%;
}

@media (max-width: 767px) {
  .concept2__picture {
    width: 100%;
  }
}

.concept2__message {
  width: 46.5%;
  margin-right: 6.667%;
}

@media (max-width: 767px) {
  .concept2__message {
    width: 100%;
    margin-right: 0;
    margin-top: 34px;
  }
}

.concept2__message-title {
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .concept2__message-title {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2__message-title {
    font-size: 20px;
  }
}

.concept2__message-text {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .concept2__message-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

/* contact
------------------------------------------------------------*/
.contact {
  background: url(../img/contact.png) no-repeat center center/cover;
  margin-top: 230px;
  padding: 69px 40px 86px;
}

.contact .util-title {
  color: #3EA1D1;
}

@media (max-width: 767px) {
  .contact {
    margin-top: 92px;
    padding: 56px 28px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-text {
  font-size: 14px;
  text-align: center;
  letter-spacing: .1em;
  padding-top: 56px;
}

.contact-text-inline {
  font-size: 16px;
  color: #E7728E;
}

.contact-item-inline {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-item-inline {
    font-size: 10px;
  }
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
  margin-top: 17px;
}

.contact-item {
  display: flex;
}

@media (max-width: 767px) {
  .contact-item {
    display: block;
  }
}

.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-item-title {
  flex: 0 1 100%;
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .contact-item-title {
    width: 160px;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
  }
}

@media (min-width: 1200px) {
  .contact-item-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  }
}

.contact-item-input {
  flex: 0 0 320px;
  margin-left: 18px;
}

@media (max-width: 767px) {
  .contact-item-input {
    margin-left: 0;
    margin-top: 3px;
  }
}

.contact-radio-wrap {
  display: inline-flex;
  border-radius: 1px;
  border: solid 1px #fff;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  background-color: #3EA1D1;
  color: #fff;
  background-repeat: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  transition: background-color .4s, color .4s;
}

.contact-footer {
  text-align: center;
  margin-top: 21px;
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px #3EA1D1;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-link {
  font-size: 16px;
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 46px;
}

.contact-footer-submit button {
  padding: 9px 52px;
  background: #fff;
  color: #3ea1d1;
  border: solid 1px #3ea1d1;
}

/* footer
------------------------------------------------------------*/
.footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
}

@media (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-nav__list {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .footer-nav__list {
    text-align: center;
    margin-top: 16px;
  }
}

@media (min-width: 1200px) {
  .footer-nav__list {
    display: flex;
    justify-content: center;
  }
}

.footer-nav__item-link {
  font-size: 12px;
  color: #333;
  display: block;
  padding: 1em 0;
}

@media (max-width: 767px) {
  .footer-nav__item-link {
    padding: .3em 0;
  }
}

@media (min-width: 1200px) {
  .footer-nav__item-link {
    transition: opacity .4s;
  }
  .footer-nav__item-link:hover {
    opacity: .7;
  }
}

@media (min-width: 1200px) {
  .footer-nav__item + .footer-nav__item {
    padding-left: 30px;
  }
}

.footer-sns__list {
  text-align: center;
  padding-top: 14px;
}

@media (max-width: 767px) {
  .footer-sns__list {
    padding-top: 14px;
  }
}

.footer-sns__item {
  display: inline-block;
}

.footer-sns__item-link {
  color: #3EA1D1;
  font-size: 22px;
  display: block;
  padding: 3px 18px;
}

@media (min-width: 1200px) {
  .footer-sns__item-link {
    transition: opacity .4s;
  }
  .footer-sns__item-link:hover {
    opacity: .7;
  }
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-copyright {
    padding-top: 5px;
  }
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 700;
  display: none;
  transition: transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  transform: translateX(-200px);
  right: -180px;
}

.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #3EA1D1;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 270px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  background: #3EA1D1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}

.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content_item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}

.drawer-content_item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-next@2x.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}
